@model IEnumerable<Sistema_Venda_SI.Model.Models.TipoPagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TpgDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TpgDesativado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TpgDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpgDesativado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TpgCodigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TpgCodigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TpgCodigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
